/* .home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: #2E8B57;
  text-align: center;
  overflow: hidden;
} */

.home-container {
  display: flex;
  flex-direction: column;
  height: auto;
}

.home-content {
  flex: 1;
  padding: 20px;
}

.home-title {
  font-size: 3rem;
  margin: 0 0 20px;
  color: #3CB371;
}

.home-description {
  font-size: 1.2rem;
  margin-bottom: 40px;
  color: #666;
  text-align: center;
}

.home-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 100%;
}

.home-button-wrapper {
  overflow: hidden;
}

.home-nav-button {
  width: 130px;
  height: 130px;
  font-size: 1.3rem;
  padding: 10px;
  color: white;
  font-weight: bold;
  border-radius: 20px; /* For softer, rounded edges */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  background-color: rgba(102, 205, 170, 0.7); /* Semi-transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow to blend edges */
  text-decoration: none;
  line-height: 1.2;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.home-nav-button:hover {
  background-color: rgba(60, 179, 113, 0.7); /* Semi-transparent hover effect */
  color: white;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2); /* Slightly more pronounced shadow on hover */
  border-radius: 20px; /* Keep the same rounded corners on hover */
}

.home-nav-button:focus {
  outline: none; /* Optional: removes default focus outline */
}

.home-button-wrapper a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 768px) {
  .home-title {
    font-size: 2.5rem;
  }

  .home-description {
    font-size: 1rem;
    margin-bottom: 20px;
  }

  .home-nav {
    flex-direction: column;
    gap: 20px;
  }

  .home-nav-button {
    width: 90px;
    height: 90px;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .home-title {
    font-size: 2rem;
  }

  .home-description {
    font-size: 0.9rem;
  }

  .home-nav-button {
    width: 80px;
    height: 80px;
    font-size: 0.8rem;
  }
}
