html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

body {
  color: #2f4f4f;
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

body.light {
  background-color: white;
  color: black;
}

body.dark {
  background-color: 	#2f4f4f;
  color: white;
}

.theme-toggle {
  padding: 8px 12px;
  cursor: pointer;
  border: none;
  background-color: black;
  color: white;
  border-radius: 4px;
  margin-left: 10px; 
}

body.dark .theme-toggle {
  background-color: #D3D3D3;
  color: black;
}

body.dark .theme-toggle:hover {
  background-color: #666;
}

body.dark .h3 .h4 .h5 .p{
  color: white;
}

.main-container {
  flex: 1;
  display: flex; 
  flex-direction: column; 
  overflow-y: hidden; 
}

.App {
  text-align: center;
}

.content {
  flex: 1
}

.layout {
  text-align: center;
  margin: 0;
  padding-top: 0;
  position: relative;
  flex: 1;
}

.layout-logo {
  width: 180px;
  height: auto;
  display: block;
  margin-bottom: 5px;
  margin: 0 auto 10px;
  border-radius: 50%;
}

.layout-name .layout-sub {
  color: #666;
}

body.dark .layout-name,
body.dark .layout-sub {
  color: white;
}

.layout-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media (max-width: 768px) {
  .project-item {
    width: 180px;
  }

  .footer-heading {
    font-size: 0.9rem;
  }
}

@media (max-width: 600px) {
  footer {
    padding: 15px;
  }

  .layout-logo {
    width: 120px;
    height: auto;
  }

  .layout-name {
    font-size: 1.2rem;
  }

  .layout-sub {
    font-size: 1rem;
  }

  .header-content {
    flex-direction: column; 
    align-items: flex-start; 
}

.weather-toggle-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width:100%;
}

.theme-toggle {
    margin-left: 0; 
    margin-top: 10px; 
    width: 100%;
}


  .nav-link {
    margin: 0 10px;
  }


  .skill-icons i {
    font-size: 2rem;
  }

  .contact-links {
    flex-direction: column;
    align-items: center;
  }


}
